* {
    box-sizing: border-box;
}
body {
    background-color: #6495ed;
}
.wrapper {
    width: 500px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    border: 1px solid darkgray;
    background-color: darkgray;
}
header h1 {
    text-align: center;
    background-image: linear-gradient( rgb(147, 5, 147), #6495ed);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

main {
    flex: 1;
    border: 1px solid plum;
    background-color: plum;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 40px;
    margin: 30px;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#6495ed;
    color: antiquewhite;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
figcaption {
    background-color: gold;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
}
video {
    width: 60%;
    height: auto;
    max-width: 100%;
    margin: 20px auto;
    margin-top: 5px;
    background-color: darkgray;
    border-radius: 10px;
    overflow: hidden;
}
footer {
    border: 1px solid darkgrey;
    text-align: center;
    background-color: darkgray;
}
.social-icons {
    padding-top: 5px;
}
.social-icons a {
    text-decoration: none;
}
a img {
    background-color: rgb(42, 55, 232);
    border-radius: 50%;
    width: 30px;
    margin: 10px;
}

.error {
    background-color: blueviolet;
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 40px;
    margin: 30px auto;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#6495ed;
    color: antiquewhite;
}
footer p {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 10px;
}
footer a {
    text-decoration: none;
}

@media (max-width: 500px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }
    body {
        margin: 0;
    }
}